>>> Note
If the data files is modified(deleted or added) make sure to run all this ipynb so that image_label.csv gets updated. Otherwise you will get error.

In [1]:
import os
from typing import List

import pandas as pd

In [2]:
path_to_images: str = r"images"

In [3]:
image_labels: pd.DataFrame = pd.DataFrame(columns=["image", "class_label"])
class_labels: List[str] = os.listdir(path_to_images)
for class_name in class_labels:
    path_till_individual_class: str = os.path.join(path_to_images, class_name)
    img_list_per_class: List[str] = os.listdir(path_till_individual_class)
    for images in img_list_per_class:
        image_labels.loc[len(image_labels)] = {"image": images, "class_label": class_name}

In [4]:
image_labels.head()

                                  image class_label
0        04eEIVA3wZzYqgWfCx4WNGJ-3.webp          c0
1        04TuEhpivKAaHT7IMx2bF16-4.webp          c0
2        04TuEhpivKAaHT7IMx2bF16-8.webp          c0
3  5b33383dd4b93c8e245fc2ced62e7e13.jpg          c0
4                       61idoQI6QWL.jpg          c0

In [5]:
image_labels.to_csv(r"./image_labels.csv")